.input {
  width: 45px;
  height: 45px;
  padding: 0;
  font-size: 24px;
  text-align: center;
  margin-right: 12px;
  text-transform: uppercase;
  color: #494949;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: #fff;
  background-clip: padding-box;
}

@media (max-width: 720px) {
  .input {
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    text-align: center;
    margin-right: 6px;
    text-transform: uppercase;
    color: #494949;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #fff;
    background-clip: padding-box;
    align-items: center;
  }
}

@media (max-width: 348px) {
  .input {
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 12px;
    text-align: center;
    margin-right: 6px;
    text-transform: uppercase;
    color: #494949;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #fff;
    background-clip: padding-box;
    align-items: center;
  }
}

.container {
  padding: 16px;
}
